#logo {
    height:150px;
}

body {
    background:linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

h1{
    text-align: center;
}

#links{
    text-align: right;
}

#loginOrRegister > button{
    margin: 25px;
    cursor: pointer;
}

#Checkout > button {
    margin: 25px;
    cursor: pointer;
}
/*This is for the 3 main boxes on the page*/
body > div > div {
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,.8);
    margin: 10px;
}

.cat-in-cart{
    margin:10px;
    border-color: black;
    border-width: 3px;
    border-style: groove;
    width: 400px;
    
}

.cat-in-cart > img{
    margin: 5px;
    /*float: left;*/
}

.cat-in-cart > button {
    margin-left: 300px;
    margin-bottom: 5px;
    /*display:inline-block;*/
    
}

/*#order-info {
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,.8);
    margin: 10px;
}*/

#loginOrRegister{
    text-align: center;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,.8);
    margin: 10px;
}

/*#loginOrRegister > div{
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,.8);
}*/

.collapsible {
    background-color: #b2e5ec;
    color: black;
    padding: 18px;
    width:fit-content;
    border: none;
    
    outline: none;
    font-size: 15px;
    border-color: black;
    border-width: 2px;
    border-style: groove;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,.8);
  }