
#logo {
    height:150px;
}
body {
    background:linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    overflow-x:hidden;
}
li a {
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight:700;
    font-size:25px;
    line-height:24px;
    color:#003459;
}
.container-fluid {
    margin-top:20px;
    padding-left:50px;
    padding-right:50px;
}
.row{
    margin-bottom:20px;
}
h2 {
    font-style: normal;
    font-weight:700;
    font-size: 20px;
    line-height:24px;
}
h3 {
    font-style: normal;
    font-weight:500;
    font-size: 16px;
    line-height:18px;
    color:#667479
}
h4 {
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height:20px;
}
.catElement:hover { 
    opacity: .7; 
}

.catElement {
    min-width:250px;
}

.col {
    margin-top:20px;
}
.row {
    margin-top:0px;
}

#background-shape {
    position: absolute;
    width: 1585.02px;
    height: 1407.12px;
    max-height:100%;
    left: -592.79px;
    top: -10px;
    background: #E6DAC6;
    border-radius: 313px;
    transform: rotate(11.53deg);
    z-index:-1;
}

#prev-button {
    background-color:#003459
}

#next-button {
    background-color:#003459
}

